<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Productos Nelro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <!-- Menú de Navegación -->
    {%include 'menu.html'%}

    <!-- Sección Hero -->
    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenido a Nuestra Tienda</h1>
            <p>Encuentra los mejores productos al mejor precio</p>
            <a href="#" class="btn">Ver Productos</a>
        </div>
    </section>

    <!-- Pie de Página -->
    {%include 'pie_pagina.html'%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
