<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="../static/css/styles_pro.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Menú de Navegación -->
    {%include 'menu.html'%}

    <div class="container">
        <h2 class="table-title">Lista de Productos</h2>
        
        <!-- Botón Nuevo -->
        <div class="new-product-btn">
            <a href="{{url_for('nuevo_producto')}}" class="btn new-btn">Nuevo Producto</a>
        </div>

        <!-- Tabla de productos -->
        <table class="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for item  in productos%}

                <tr>
                    <td>{{item.id_pro}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.precio}} Bs</td>
                    <td>
                        <a href="/capturar_producto/{{item['id_pro']}}" class="btn edit-btn">Editar</a>
                    </td>
                    <td>
                        <a href="/eliminar/{{item['id_pro']}}" class="btn delete-btn">Eliminar</a>
                    </td>                    
                </tr>
                {%endfor%}
               
            </tbody>
        </table>
    </div>

</body>
</html>
